<!DOCTYPE html>
<html>
<head>
    <title>Create a new product | Semi Restful Route Demo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <h3>Add a new product</h3>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/products/create" method="post">
        <p>Name</p> 
        <p><input type="text" name="name" /></p>
        <p>Description</p> 
        <p><input type="text" name="description" /></p>
        <p>Price</p> 
        <p><input type="text" name="price" /></p>
        <p><input type="submit" value="Create" /></p>
    </form>    
    <p><a href="/">Back</a></p>

</body>
</html>
