<!DOCTYPE html>
<html>
	<head>
		<title>Edit Friend</title>
	</head>
	<body>
		<h3>Edit Friend: {{ friend.first_name }} {{ friend.last_name }}</h3>
		<form action="/update/{{ friend.id }}" method="post">
			<label>New First Name:</label>
			<input type="text" name="first_name" value="{{ friend.first_name }}">
			<label>New Last Name:</label>
			<input type="text" name="last_name" value="{{ friend.last_name }}">
			<label>New Email:</label>
			<input type="text" name="email" value="{{ friend.email }}">
			<label>New Occupation:</label>
			<input type="text" name="occupation" value="{{ friend.occupation }}">
			<input type="submit" value="Update">
		</form>
	</body>
</html>